/** Cabeçalho **/

.cabecalhoPrincipal .container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

/** Videos Sobre **/

.videoSobre .container{
    display: flex;
}
.videoSobre-video{
    flex-grow: 1;
}

.videoSobre-sobre{
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    text-align: center;
}
.videoSobre-sobre-list{
    flex-grow: 1;
}

/** Rodapé **/

.rodapePrincipal-navMap .rodapePrincipal-navMap-list{
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-flow: column wrap; /* O flex-flow recebe as propriedades flex-direction:; e flex-wrap:;*/
    height: 260px;
}

.rodapePrincipal-patrocinadores .container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    justify-content: space-around;
    width: 75%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
    width: 25%;
}

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link{
    width: 23%;
}